*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    margin-top: 20px;
    overflow-x: hidden;
    background-color: #391d34
}
.container{
    max-width: 95%;
    margin: 0 auto;
    padding-top: 180px;
}
.hero-text{
    text-align: center;
    justify-content: column;
}
.hero-text h2{
    font-size: 25px;
    color: #c9b8a8;
}
.hero-text p{
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
}
.hero-text a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #391d34;
    color: #c9b8a8;
    border: #c9b8a8 2px solid;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.3s;
}
.hero-text a:hover{
    background-color: #c9b8a8;
    color: #391d34;
}
.hero-text i{
    color: #c9b8a8;
    font-size: 40px;
}