section.contact{
    text-align: center;
    padding-top: 180px;
}
.hero-text2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.hero-text2 h2{
    color:#c9b8a8
}
.hero-text2 p{
    color: white;
    margin-top: 10px;
    text-align: justify;
}
.form-group{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.form-group input{
    width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #c9b8a8;
    border-radius: 5px;
    font-size: 16px;
}
.form-group label{
    color:#391d34;
    margin-bottom: 10px;
}
.form-group textarea{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #c9b8a8;
    border-radius: 5px;
    font-size: 16px;
    height: 81px;
    width: 300px;
}
.hero-text-icons{
    padding: 30px 170px 60px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.hero-text-icons a{
    display: flex;
    margin: 10px;
    color: #c9b8a8;
    font-size: 16px;
    transition: 0.5s;
}
.hero-text-icons a i{
    margin-right: 10px;
    font-size: 20px;
}
.hero-text-icons a:hover{
    color: white;
}
.btn-group-contact{
    margin: 10px;
    padding: 12px 25px;
    border-color: #c9b8a8;
    color: #391d34;
    background-color: #c9b8a8;
    border-radius: 30px;
    border: 2px solid #c9b8a8;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 16px;
}
/* -------------------------------------------------- */
@media screen and (max-width: 930px){
    nav .togglebtn{
        display: initial;
    }
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        display: none;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks li.dropdown{
        display: block;
        margin-bottom: 15px;
    }
    nav .navlinks li select{
        display: block;
        margin: 0 auto;
    }
    nav .navlinks.open{
        display: block;
        position: absolute;
        top: 110px;
        right: 0%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #391d34;
        z-index: 3;
        box-shadow: -4px 14px 14px 0px rgba(0, 0, 0, 0.3);
        transition: 0.5s;
        padding: 25px 0px;
    }
}
@media screen and (max-width: 768px){
    .container{
        display: flex;
        padding-top: 1rem;
    }
    .hero-text-icons{
        flex-direction: column;
        align-items: center;
    }
}