section.resume{
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 180px;
}
.container .hero-pic{
    width: 26%;
    height: 26%;
    border-radius: 30%;
    overflow: hidden;
    border: 0.4vw solid #c9b8a8;
    box-shadow: 0.7vw 0.7vw 0.7vw rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}
.hero-pic img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
.hero-text div.text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-text h2{
    font-size: 25px;
    padding: 0px 0px 10px;
    color: #c9b8a8;
}
.hero-text p{
    padding-top: 5px;
    text-align: justify;
    color: white;
}
@media screen and (max-width: 768px){
    .container{
        display: flex;
        padding-top: 2rem;
    }
    .hero-text{
        padding: 30px 0px;
    }
    .container .hero-pic{
        width: 50%;
        height: 50%;
    }
}