*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    margin-top: 80px;
    overflow-x: hidden;
    background-color: #391d34
}
.hero-header{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #391d34;
    padding: 40px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    height: 45px;
    width: 45px;
    background-color: white;
    border-radius: 50%;
    color: #5a3044;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: white;
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: white;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}
nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    color: white;
    margin-right: 2.5rem;
}
nav .navlinks li.dropdown{
    margin-right: 2.5rem;
}
nav .navlinks li select{
    padding: 7px 7px;
    border: 2px solid #c9b8a8;
    border-radius: 10px;
    color: #391d34;
    background-color: #c9b8a8;
    cursor: pointer;
    margin: 0 auto;
    font-size: 16px;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
section.home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 180px;
}
.container .hero-pic{
    max-width: 300px;
    max-height: 300px;
    border-radius: 30%;
    overflow: hidden;
    border: 3px solid #c9b8a8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}
.hero-pic img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.hero-pic img:hover{
    transform: scale(1.2);
}
.hero-text{
    margin-left: 30px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text div.text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-text h5{
    color: white;
    font-size: 16px;
    margin-right: 5px;
}
.hero-text h5.field{
    color:#c9b8a8;
    font-size: 16px;
    align-self: column;
}
.hero-text h1{
    color:#c9b8a8;
    font-size: 3rem;
}
.hero-text p{
    text-align: justify;
    color: white;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #c9b8a8;
    color: #391d34;
    background-color: #c9b8a8;
    padding: 12px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #c9b8a8;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.3);
}
.hero-text .social i{
    color: #c9b8a8;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color: white;
    transform: scale(1.2);
}
footer {
    color: #c9b8a8;
    text-align: center;
    padding: 64px 0px 64px;
    font-size: 0.9rem;
}
@media screen and (max-width: 930px){
    nav .togglebtn{
        display: initial;
    }
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        display: none;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks li.dropdown{
        display: block;
        margin-bottom: 15px;
    }
    nav .navlinks li select{
        display: block;
        margin: 0 auto;
    }
    nav .navlinks.open{
        display: block;
        position: absolute;
        top: 110px;
        right: 0%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #391d34;
        z-index: 3;
        box-shadow: -4px 14px 14px 0px rgba(0, 0, 0, 0.3);
        transition: 0.5s;
        padding: 25px 0px;
    }
    .container .hero-pic{
        display: block;
    }
    .container .hero-pic img{
        display: block;
    }
}
@media screen and (max-width: 768px){
    .container{
        padding-top: 2rem;
    }
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .hero-text{
        padding: 0px 40px;
    }
}